.patient-form-section-container {
    text-align: center;
    margin: 0 1rem;
}

.patient-form-section-header {
    padding-bottom: 0rem;
    margin: 0 !important;
}

.patient-form-options-list li {
    list-style-type: none;
    border-radius: .25rem;
    box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.1);
    padding: .3rem .7rem;
    text-align: right;
    font-weight: bold;
    margin: 1rem 0;
    background-color: #F3F4F6;
}

.patient-form-options-list li:hover {
    background-color: #2193B0;
    color: #FFF;
}

.choose-tags-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
}

.choose-tags-full-width {
    border-radius: .25rem;
    background-color: #F3F4F6;
    padding: 1rem;
    text-align: center;
    margin: 1rem 0;
    box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.1);
}

.choose-tags-container div:hover,
.choose-tags-full-width:hover {
    background-color: #2193B0;
    color: #FFF;
}

.choose-tags-container div {
    border-radius: .25rem;
    background-color: #F3F4F6;
    padding: 1rem;
    box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.1);
}

.tag-item{
    display: inline-block;
    padding: .5em .75em;
    border-radius: 12px;
    margin: .5rem .7rem;
    box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.1);
    border: 1px solid #F3F4F6;
}

.patients-form-tags-container {
    padding: 1rem 0;
    text-align: right;
}

.patient-form-btn-container {
    padding: 2rem 0;
}

.sections-tracker-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: .5rem;
    padding: 1rem 0;
}

.sections-tracker-container div {
    height: 5px;
    background-color: dodgerblue;
}

.verification-codes-inputs-container div {
    --ReactInputVerificationCode-itemSpacing: 0;
}
