.search-field-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-field-input-container span {
    background-color: #5d93fc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    margin-right: 0rem;
    padding: .2rem;
    border-radius: .25rem;
    margin-right: .2rem;
}


.search-field-input-container span svg {
    font-size: 1.4rem;
}

.search-input-result-size-container {
    display: flex;
    justify-content: flex-end;
}