.form-page-center {
    display: flex;
    justify-content: center;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border-radius: .25rem;
    /*box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;*/
    width: 30rem;
    background-color: #FFF;
    padding: 1rem 2rem;
}

.login-form-header-container {
    padding-bottom: 2rem;
}

.login-form-header-container h3 {
    font-size: 1.5rem;
    color: #3C4257;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0 !important;
}

.login-form-header-container h6 {
    margin-top: .3rem;
    margin-bottom: 0;
    font-size: .9rem;
    font-weight: normal;
}

.login-form-container div label {
    color: #3C4257;
    font-weight: normal;
}

.password-and-forgot-password-container {
    display: flex;
    justify-content: space-between;
}

.password-and-forgot-password-container a {
    font-weight: 600 !important;
}

.password-and-forgot-password-container a:hover {
    cursor: pointer;
    opacity: .9;
}

.submit-btn-container {
    padding: 1rem 0;
}

.submit-btn-container input {
    width: 100%;
    box-shadow: none;
    border: none;
    padding: .7rem 0;
    border-radius: .25rem;
    font-weight: 500;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-size: 1rem;
    font-family: 'Inter', 'Cairo', sans-serif !important;
}

.submit-btn-container input:hover {
    cursor: pointer;
    opacity: .9;
}

.form-note-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-note-container span a {
    color: #5d93fc;
}

.policy-container {
    margin-top: .7rem !important;
    font-size: .8rem;
}

.policy-container a {
    color: #5d93fc;
    font-weight: bold;
}

.mail-success-message-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem;
}

.mail-success-message-container svg {
    font-size: 1rem;
    margin-right: .3rem;
}

.choose-input-container {
    display: flex;
    align-items: center;
    border-radius: .5rem;
    border: 1px solid #adb5bd;
    padding: 0 1rem;
}

.choose-input-container:hover {
    cursor: pointer;
    opacity: .8;
}


.choose-input-wrapper .choose-input-container {
    margin-bottom: 1rem;
}

.choose-input-container span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
}

.auth-form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 6rem 0 6rem;
}

.auth-form-header img {
    width: 10rem;
}

.language-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 1rem;
}

.language-container span {
    margin-left: 2rem;
}

.language-container span:hover {
    cursor: pointer;
    color: #4c83ee;
}


@media only screen and (max-width: 600px) {

    .login-form-container {
        width: 100vw;
        box-shadow: none;
        margin-top: 1rem;
    }

    .auth-form-header {
        padding: 1rem !important;
    }

    .auth-form-header img {
        width: 7rem;
    }
    
  }
