.floating-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    background-color: #4c83ee;
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    padding: 1rem;
    border-radius: 50%;
    z-index: 999;
}

.floating-button-container svg {
    font-size: 1.7rem;
}

.floating-button-container:hover, .floating-scan-button-container:hover {
    cursor: pointer;
}

.floating-scan-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    background-color: var(--blue);
    position: fixed;
    bottom: 5rem;
    right: 1rem;
    padding: 1rem;
    border-radius: 50%;

}