.patient-card-container {
    padding: 1rem;
    /*border-radius: .25rem;
    box-shadow: var(--box-shadow);
    background-color: #FFF;*/
    border-radius: .75rem;
    border: 0.0625rem solid rgba(231, 234, 243, 0.7);
    box-shadow: 0rem 0.375rem 0.75rem #8c98a413;
    background-color: #FFF;
    transition: .1s;
}

.patient-card-container:hover {
    cursor: pointer;
    opacity: .8;
}

.patient-card-header {
    display: flex;
    justify-content: space-between;
}

.patient-image-info-container {
    display: flex;
    align-items: center;
    font-size: .8rem;
}

.patient-image-info-container div strong {
    display: block;
}

.patient-image-info-container div span {
    font-size: .8rem;
}

.patient-image-info-container img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: .3rem;
}

.patient-card-status {
    font-weight: 600;
}

.patient-card-body {
    padding-top: .7rem;
}

.patient-card-body ul li {
    font-size: .9rem;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.patient-card-body ul li strong {
    font-weight: normal;
}

.patient-card-header-right-section {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
}

.patient-card-header-right-section svg {
    margin-bottom: 0rem;
}
