.tab-bar-container {
    position: fixed;
    bottom: 0;
    width: 100vw;
    margin: 0;
    box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.1);
    background-color: #FFF;
    box-shadow: var(--box-shadow);
}

.tab-bar-container ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: .5rem 0;
    padding: 0;
}

.tab-bar-container ul li {
    list-style-type: none;
}

.tab-bar-container ul li a {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: #000;
}


.prescriptions-page-header {
    background-color: #FFF;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem .5rem 1rem;
    box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.1);
}

.profile-nav-bar-container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.profile-nav-bar-container img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-left: .5rem;
}

.profile-nav-bar-container div {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-right: .4rem;
}

.prescriptions-page-header div svg {
    font-size: 2rem;
}

.mobile-nav-menu {
    text-align: left;
    width: 100%;
    position: fixed;
    background-color: #FFF;
}

.mobile-nav-menu ul li {
    list-style-type: none;
    margin: 0rem 0 1rem 0;
}

.mobile-nav-menu ul a {
    text-decoration: none;
}

.user-name-and-role-description {
    display: flex;
    flex-direction: column;
    padding: 0 .8rem 0 0;
}

.user-name-and-role-description span {
    color: var(--dark-grey);
    text-align: center;
}

.navigation-bar-search-field {
    border-radius: .25rem !important;
    padding: .1rem 1rem !important;
    background-color: #F2F2F2;
    border: none;
    box-shadow: var(--box-shadow);
    text-align: right;
    font-family: 'Cairo', sans-serif !important;
    width: 100%;
}

.navigation-bar-search-field:focus {
    border: none !important;
    outline: none !important;
}

.input-container svg {
    position: absolute;
    padding-left: .5rem;
    color: var(--dark-grey);
}

.mini-page-navigator-container {
    padding-bottom: .5rem;
  }
  
  .mini-page-navigator-container ul {
    display: flex;
    color: #687385;
    padding: .5rem 0 !important;
    border-bottom: 1px solid #D5DBE1;
  }

  .mini-page-navigator-container ul:hover {
  }
  
  .mini-page-navigator-container ul li {
    list-style-type: none;
  }

  .mini-page-navigator-container ul li a {
    margin-right: 1.7rem;
    padding: .5rem 0;
    color: #687385;
    font-weight: 500;
  }

  .mini-page-navigator-container ul li .active {
    color: #2a7ade;
    cursor: pointer;
    border-bottom: 2px solid #2a7ade;
  }
  
  .mini-page-navigator-container ul li a:hover {
    color: #2a7ade;
    cursor: pointer;
    border-bottom: 2px solid #2a7ade;
  }

  @media only screen and (max-width: 600px) {
    .mini-page-navigator-container ul li a {
        color: #000;
        background-color: var(--light-grey);
        border-radius: 2rem;
        padding: .3rem .5rem;
        font-weight: 500;
        margin-right: .5rem;
      }

    .mini-page-navigator-container ul {
        padding-bottom: 0rem;
        border-bottom: none;
        margin: 0;
        overflow-x: scroll;
    }

    .mini-page-navigator-container ul li .active {
        color: #FFF !important;
        cursor: pointer;
        background-color: #2a7ade;
      }

    .mini-page-navigator-container ul li a:hover {
        color: #FFF !important;
        cursor: pointer;
        background-color: #2a7ade;
    }

  }
    
  


