.navigation-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0rem .5rem 0rem;
    border-bottom: 1px solid #eee;
}

.navigation-bar-search-container {
    position: relative;
}

.navigation-bar-search-container i {
    position: absolute;
}

.navigation-bar-search-container input {
    border-radius: 1rem;
    border: none;
    width: 25rem;
    padding: .3rem .5rem;
    box-shadow: var(--box-shadow);
}

.navigation-bar-options-container .create-btn {
    background-color: transparent;
    border: 1px solid #4c83ee;
    color: #4c83ee;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 5rem;
}

.navigation-bar-options-container .create-btn svg {
    color: #4c83ee;
}

.navigation-bar-container .create-btn:hover svg {
    color: #FFF;
}

.navigation-map-container {
    display: flex;
    align-items: center !important;
}

.navigation-map-container span {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.navigation-map-container span svg {
    margin-right: .3rem;
}

.navigation-map-container span svg:hover {
    cursor: pointer;
    color: #4c83ee;
}

.navigation-map-container span {
    font-weight: 700;
    font-size: .8rem;
}

.navigation-bar-options-container .create-btn:hover {
    background-color: #4c83ee;
    color: #FFF;
    cursor: pointer;
}

.navigation-bar-options-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-bar-options-container div {
    margin-left: 1rem;
    font-size: .9rem;
}

.navigation-bar-options-container div svg {
    color: var(--dark-grey);
    font-size: 1.3rem;
}

.navigation-bar-options-container div svg:hover {
    cursor: pointer;
}

.user-profile-container {
    position: relative;
}

.quick-form-container {
    position: relative;
}

.app-navigation-bar-container ul {
    display: flex;
    align-items: center;
    padding: .5rem 0;
    border-bottom: 1px solid #F2F2F2;
}

.app-navigation-bar-container ul li {
    list-style-type: none;
    margin-right: 1.7rem;
}

.app-navigation-bar-container ul li a {
    color: #1A1B25;
    font-weight: 600;
    font-size: .8rem;
}

