.invoice-checkout-grid-container {
    display: grid;
    grid-template-columns: 49.5% 1% 49.5%;
}

.invoice-services-container, .invoice-payment-container {
    background-color: #FFF;
    padding: .7rem;
    border-radius: .25rem;
    box-shadow: var(--box-shadow);
}

.invoice-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.invoice-services-container h6 {
    font-size: 1rem;
    font-weight: 600;
    padding: 0;
    padding-bottom: 1rem;
    margin: 0;
}

.invoice-services-container h6 span {
    font-weight: normal;
}

.invoice-services-container ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #F2F2F2;
    padding: .5rem 0 .3rem 0;
}

.invoice-payment-list-container {
    padding-top: 1rem;
}

.invoice-payment-list-container ul li {
    list-style-type: none;
    display: grid;
    padding-bottom: .5rem;
    grid-template-columns: 50% 50%;
}

.invoice-payment-list-container ul li strong {
    font-weight: 500;
}

.invoice-price-container {
    display: flex;
    align-items: center;
}

.invoice-price-container span {
    display: flex;
    align-items: center;
}

.invoice-price-container span svg {
    margin-left: .6rem;
    font-size: 1rem;
}

.invoice-price-container span svg:hover {
    cursor: pointer;
    color: #5d93fc;
}

.invoice-total-container {
    margin-top: 1.5rem;
    padding: .7rem 0;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}

.invoice-total-container li {
    border-bottom: 0 !important;
    padding: 0 !important;
}

.invoice-services-container ul li:last-child {
    border-bottom: 0;
}

.invoice-link-container {
    padding: 1rem 0 0 0;
}

.invoice-link-container a {
    font-weight: bold;
    color: #5d93fc !important;
}

.invoice-payment-header-container {
    padding-bottom: 1rem;
    border-bottom: 1px solid #F2F2F2;
}

.invoice-payment-header-container span {
    color: var(--dark-grey)
}

.invoice-payment-header-container strong {
    font-size: 1.2rem;
}

.pay-invoice-button {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 100%;
    row-gap: .5rem;
}

.pay-invoice-button div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pay-invoice-button button {
    padding: .5rem 0;
    font-size: 1rem;
}

.invoice-options-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 1rem 0;
}

.invoice-options-container div {
    display: flex;
    align-items: center;
}

.invoice-options-container div button {
    margin-left: 1rem;
}

@media only screen and (max-width: 700px) {
    .invoice-checkout-grid-container {
        grid-template-columns: 1fr;
        row-gap: .3rem;
    }
    
}
