.print-doc-header h1 {
    font-weight: 700;
    border-bottom: 1px solid #F2F2F2;
    padding: 1rem;
}

.print-doc-container {
    padding: 1rem;
}

.print-doc-info-container {
    display: grid;
    grid-template-columns: 48% 4% 48%;
    font-size: .9rem;
}

.print-doc-info-container div div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: .5rem;
}

.print-doc-note-container li {
    list-style-type: none;
}

.application-signature-container {
    display: flex;
    align-items: center;
    justify-content: center;
}