:root {
  font-family: 'Inter', sans-serif !important;
  line-height: 1.5;
  font-weight: 400;
  --light-grey: #F2F2F2;
  --dark-grey: #777A7E;
  --grey: #F7F7F7;
  --border-color: rgba(242, 242, 242, 1);
  --blue: #2193B0;
  /*--box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;*/
  --box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.1);
  /*--box-shadow: 0 0 2rem 0 rgba(41,48,66,.1);*/
}

body {
  padding: 0;
  margin: 0;
  background-color: #FFF;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.icon:hover {
  cursor: pointer;
}

.cards-grey-container {
  background-color: #F4F5F7;
  padding: 1rem;
  border-radius: .25rem;
}

.page-white-background {
  background-color: #FFF;
  min-height: 100vh;
}

.page-container {
  min-height: 100vh;
  padding: 0 0rem 10rem 0rem;
  transition: margin-left .5s;
}

.page-list-container {
  display: none;
}

.show-mobile {
  display: none !important;
}

.show-large {
  display: block;
}

.page-padding {
  padding: 0rem 0;
}

.container-padding {
  padding: 0rem 0rem;
}

.padded-container {
  padding: 0 0rem;
}

.light-text-color, .grey-text {
  color: #7C82A1;
}

.header-text {
  font-size: 1.9rem;
}

.subheader-text {
  font-size: 1.1rem;
}

.body-text {
  font-size: .9rem;
}

.span-text {
  font-size: .7rem;
}

.regular-text {
  font-weight: normal;
}

.bold-text {
  font-weight: 500;
}

.small-description-text {
  font-size: .8rem;
}

.hover:hover {
  cursor: pointer;
}

.container-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-wrapper {
  padding: .5rem;
  margin: 0 .5rem;
  border-radius: 12px;
}

.padding-top-bottom {
  padding: .5rem 0;
}

.form-input-container {
  padding: 0rem .2rem !important;
}

.forms-btn-container {
  padding: 1rem 0 !important;
  margin: 0 !important;
}

.forms-btn-container button {
  display: inline;
  margin-right: 1rem;
}

.form-buttons-container {
  display: flex;
  flex-direction: row-reverse;
}

.form-buttons-container button {
  margin-right: 1rem;
}

.form-input-container label, .form-input-container strong {
  color: #000;
  margin-bottom: 0rem !important;
  display: block;
  font-size: .9rem;
}

.form-input {
  background-color: #FFF;
  box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.1);
  border-radius: .25rem;
  outline: none;
  border: none;
  width: 100%;
  padding-left: 2% !important;
  padding: .3rem 0rem;
  font-size: 1rem;
  font-family: 'Inter', sans-serif !important;
  box-sizing: border-box;
}

.form-input:focus {
  box-shadow: 0 0 4px rgba(93,147,252,.5);
  border: 1px solid #5d93fc;
}

.form-input:disabled {
  background-color: #F2F2F2;
}

select {
  background-color: #FFF;
  box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.1);
  border-radius: .25rem;
  outline: none;
  border: none;
  min-width: 100%;
  padding: .3rem 0rem;
  font-size: 1rem;
  font-family: 'Inter', sans-serif !important;
  display: block !important;
  box-sizing: border-box;
}

.search-input-container {
  padding: 1rem 0 1rem 0;
  display: grid;
  grid-template-columns: 100%;
}

.icon-button svg {
  font-size: 1.3rem;
  margin-right: .5rem;
}

.phone-input-container {
  width: 100%;
}

.phone-input {
  position: block;
  background-color: #F3F4F0;
  border-radius: 12px;
  outline: none;
  border: none;
  padding: .7rem 0rem;
  width: 100% !important;
  font-family: 'Cairo', sans-serif !important;
}

.center {
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.box-shadow {
  box-shadow: var(--box-shadow);
}

.margin-top-1 {
  margin-top: 1rem;
}

.full-width-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .3rem;
  background-color: #5c60f5;
  color: #FFF;
  border: none;
  font-weight: 500;
  font-size: 1.2rem;
  padding: .7rem .7rem;
  width: 100%;
}

button {
  font-family: 'Inter', sans-serif !important;
  transition: .5s;
}

input[type="submit"] {
}

button:hover {
  opacity: .9;
  cursor: pointer;
}

.button {
  display: flex;
  align-items: center;
  border-radius: .3rem;
  background-color: #5c60f5;
  color: #FFF;
  border: none;
  font-weight: 500;
  font-size: .9rem;
  padding: .4rem .7rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.normal-button {
  display: flex;
  align-items: center;
  border-radius: .3rem;
  border: none;
  font-weight: 500;
  font-size: .9rem;
  padding: .4rem .7rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cancel-button {
  color: #414552;
  background-color: #FFF;
  border: 1px solid #adb5bd;
  font-weight: bold;
}

.btns-container {
  display: flex;
}

.btns-container button {
  margin-left: 1rem;
}

.btns-container button:hover {
  cursor: pointer;
  opacity: .8;
}

.purple-bg {
  background-color: #5c60f5 !important;
}

.grey-text {
  color: #414552;
}

.normal-button:hover {
  cursor: pointer;
  opacity: .8;
}

.button:hover {
  opacity: .8;
}

.page-bottom-margin {
  background-color: #F3F4F0;
}

.tag-purple-bg {
  background-color: #5C60F5;
}

.tag-purple-text {
  color: #5C60F5;
}

.tag-orange-bg {
  background-color: #FF8C00;
}

.tag-orange-text {
  color: #FF8C00;
}

.tag-light-blue-bg {
  background-color: #00D4FF;
}

.tag-light-blue-text {
  color: #00D4FF;
}

.tag-red-bg {
  background-color: #FF579A;
}

.tag-red-text {
  color: #FF579A;
}

.tag-green-bg {
  background-color: #20c997;
}

.tag-green-text {
  color: #20c997;
}

.tag-grey-bg {
  background-color: #adb5bd;
}

.tag-grey-text {
  color: #adb5bd;
}

.tag-status-btn {
  padding: 5px 7px;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grey-bg-container {
  background-color: #F4F5F7;
  padding: .7rem;
  border-radius: .25rem;
}

.status-btn {
  padding: 3px 7px;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.status-btn span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-btn span:hover {
  cursor: pointer;
}

.status-btn span svg {
  font-size: 1rem;
}

.status-tag {
  padding: 5px 7px;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 5rem;
  font-weight: 400;
}

.icon-container {
  padding: .5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.done{
  background-color: #e5faf2;
  color: #3bb077;
}

.pending{
  background-color: #ebf1fe;
  color: #2a7ade;
}

.declined{
  background-color: #fff0f1;
  color: #d95087;
}

.light-form-input {
  background-color: #FFF;
  width: 100%;
}

.form-error-message {
  color: red;
}

.red {
  color: #d9534f;
}

.blue {
  color: #2a7ade;
}

.action-color-text {
  color: #4c83ee;
}

.green {
  color: #3bb077;
}

.grey {
  color: #7C82A1;
}

.purple {
  color: #5C60F5;
}

.light-blue {
  color: #00D4FF;
}

.blue-bg {
  background-color: var(--blue);
}

.white-bg {
  background-color: #FFF;
}

.action-color-bg {
  background-color: #4c83ee;
}

.black {
  color: #000;
}

.white-text {
  color: #FFF !important;
}

.red-bg {
  background-color: #d9534f;
}

.blue-bg {
  background-color: var(--blue);
}

.grey-bg {
  background-color: #F4F5F7;
}

.forms-page-container {
  background-color: #FFF;
  min-height: 100vh;
}

.forms-page-container h1 {
  margin: 0;
  padding-top: 3rem;
}

.loading-page-container {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-list-container {
  background-color: #FFF;
  margin: 1rem .5rem;
  border-radius: .25rem;
  text-align: right;
  padding: 0 .5rem;
}

.list-container {
  padding: 0rem 1rem;
}

.card-section-container {
  margin: 1rem .5rem;
  background-color: var(--light-grey);
  border-radius: .25rem;
  padding: 0 .3rem;
}

.card-section-container div {
  background-color: #FFF;
  border-radius: .25rem;
  padding: 0 .5rem;
}

.patient-profile-information-container {
  padding: 1rem;
  background-color: #FFF;
  margin: 0rem;
  border-radius: .25rem;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.patient-profile-information-container div strong {
  display: block;
}

.patient-profile-information-container img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: .5rem;
}

.page-navigation-container:hover {
  overflow-y: visible;
}

.information-list-container {
  background-color: #FFF;
  margin: 0rem 0rem;
  border-radius: .25rem;
  padding: 1rem;
  box-shadow: var(--box-shadow);
}

.information-list-header {
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  color: #303130;
}

.header-and-icon-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.header-and-icon-container h2 {
  padding-left: .8rem;
}

.information-list-container ul {
  margin: 0;
  padding: 0;
}

.information-list-container ul li {
  list-style-type: none;
  padding: .2rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.information-list-container ul li:hover {
  background-color: #F2F2F2;
}

.information-list-container ul li:last-child {
  border-bottom: none;
}

.emergency-contacts-list-container li {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
}

.emergency-contact-number {
  color: var(--blue)
}

.nested-list {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
}

.nested-list p {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nested-list p:last-child {
  margin-bottom: 0;
}

.nested-list p svg {
  font-size: .5rem;
  margin-left: .4rem;
}

.patient-profile-icon-container {
  padding: .5rem;
  border-radius: .25rem;
  color: #FFF;
}

.arrow-icon-container:hover {
  cursor: pointer;
  color: var(--blue)
}

.tabs-navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #FFF;
  padding: 1rem;
  box-shadow: var(--box-shadow);
}

.bordered-container {
  border-radius: .25rem;
  background-color: #FFF;
  margin: 0 0rem;
  box-shadow: var(--box-shadow);
}

.drug-list-container {
  padding-top: 1rem !important;
}

.page-3-sections-container {
  display: grid;
  grid-template-columns: 30% 65%;
}

.options-container {
  background-color: #FFF;
  margin: 1rem;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
}

.options-container div {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.options-container div .option-body-container {
  margin-right: 1rem;
  padding: .5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

.patients-list-wrapper {
  background-color: #FFF;
  margin: 1rem;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
}

.basic-btn {
  min-width: 11.5rem;
  border-radius: 1.75rem;
  padding: .9rem 1.6rem;
  font-size: 1.2rem;
  border: none;
}

.blue-btn {
  background-color: var(--blue);
  color: #FFF;
}

.border-blue-btn {
  background-color: #FFF;
  border: 2px solid var(--blue) !important;
  color: var(--blue);
  font-weight: bold;
}

.small-basic-btn {
  border-radius: 1.75rem;
  padding: .5rem 2rem;
  border: none;
}


.cards-list-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1rem;
  padding: 0 0 1rem 0;
}

.cards-3-list-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.cards-2-list-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}

.large-cards-container {
  padding-right: 0rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.appointments-categories-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  gap: 1rem;
  padding-bottom: 1rem;
}

.appointments-categories-container div {
  border: 1px solid #c0c8d2;
  padding: 11px;
  border-radius: 8px;
  color: #414552;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appointments-categories-container div span {
  font-size: .8rem;
}

.appointments-categories-container div:hover {
  cursor: pointer;
  border: 2px solid #4c83ee;
  color: #4c83ee;
}

::-webkit-scrollbar {
width: 20px;
}

::-webkit-scrollbar-track {
background-color: transparent;
}

::-webkit-scrollbar-thumb {
background-color: #a8bbbf;
border-radius: 20px;
border: 6px solid transparent;
background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
background-color: #a8bbbf;
}

@media only screen and (max-width: 600px) {
  .page-container {
    padding: 0;
    padding-bottom: 10rem !important;
  }

  .padded-container {
    padding: 0 .5rem !important;
    margin: 0 !important;
  }

  .cards-grey-container {
    padding: .5rem
  }

  .page-table-container {
    display: none;
  }

  .page-list-container {
    display: block;
  }

  .show-mobile {
    display: block !important;
  }

  .show-large {
    display: none;
  }

  .cards-list-wrapper {
    grid-template-columns: auto auto;
    column-gap: .7rem;
  }

  .cards-2-list-wrapper, .cards-3-list-wrapper {
    grid-template-columns: auto;
  }

  .appointments-categories-container {
    grid-template-columns: auto;
  }

}
  