.cart-banner-container {
    position: fixed;
    bottom: 1rem;
    width: 80%;
    z-index: 1000;
}

.cart-banner-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a2e44;
    color: #FFF;
    margin: 0 1rem 0 1rem;
    padding: 0rem 1rem;
    border-radius: .5rem;
}

.cart-banner-main {
    display: flex;
    align-items: center;
}

.cart-banner-main span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    background-color: dodgerblue;
    padding: .2rem .7rem;
    border-radius: 50%;
}

.cart-banner-close {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-banner-action:hover, .cart-banner-close:hover {
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .cart-banner-container {
        width: 100vw;
    }
}